ol{
    list-style-type: upper-roman;
    font-size: 18px
}

ul {
    list-style-type: circle;
    font-size: 18px;    
}

li:hover{
    background-color: rebeccapurple;
    color: antiquewhite;
}

h1{
    color: antiquewhite;
    text-shadow: 0 0 6px darkslateblue;
    background:#f3f3f6;
}

h2{
    color: black;
    text-shadow: 1px 1px 5px red;
}