/*Import link for Delius font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
/*font-family: "Delius", cursive;*/

/*Import link for Permanent Marker font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/*font-family: "Permanent Marker", cursive;*/

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*NAVBAR*/
.nav-bar{
    position: sticky;
    top: 0;
    z-index: 9;
}

ul{
    list-style-type: none;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid #6C2111;
    overflow: hidden;
}

li{
    float: left;

}

li a{
    display: block;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 25px;
    padding: 15px 15px;
    color: darkslategray;
    text-decoration: none;  
}

li a:hover{
    background-color: rgb(239, 193, 132);
    
}

/*Paragraph styling*/

p, blockquote{
    font-family: "Delius", cursive;
    display: block;
    font-size: 18px;
}

h1, h3{
    font-family: "Delius", cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}



/*CONTACT*/

form{
    display: table;
    padding: 15px;
    margin-left: auto;
    margin-right: auto; 
}

form input[type="text"], input[type=email]{
    border:3px solid #6C2111;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px 10px;
}

textarea{
    border: 3px solid #6C2111;
    box-sizing: border-box;
    border-radius: 10px;
    resize: both;
    height: 200px;
    width: 100%;
}