/*Import link for ROBOTO font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Imporyt link for the MUKTA font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body{
    background-color:white;
    overflow-x: hidden; /*Hides the bottom left right scroll bar when elements stretch beyond the screen border*/
}

/*NAVBAR*/

li{
   display: inline; 
   padding: 5px;

}

a{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-shadow: 1px .5px 4px rgba(46, 31,31,0.5);
        color: white;
        text-decoration: none; /*removes default link styling*/
        /*Font from fonts.google.com*/
}

a:hover{
    color: #d7eaf7; /*Changes color of hover element when user hovers over link*/

}

.nav-bar{
    background-color:  #216391;
    padding-top: 10px;
    padding-bottom: 10px;
    /*The following minus margins stretch the navbar background beyond the web browsers screen edge*/
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky; /*creats a stickey element that stays in the same spot on the screen*/
    top: 0; /*tells browser to stick the element on top of screen while scrolling*/
}

/*Creates a line between home and contact links from the image links*/
#nav-border{
    padding-bottom: 10px;
    border-bottom: 3px solid #ffffff;
}

/*HEADERS*/
h1, h2, h3{
    color: #0a3f63;
    text-align: center;
    font-family: "Mukta", serif; /*Font from fonts.google.com*/
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.5);
    margin: 0px;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 60px;
    margin-top: 50px;
}

h2{
    font-size: 45px;
    margin-bottom: 20px;
}

h3{
    font-size: 30px;
    margin-top: 20px;
}

#contact-h3{
    text-shadow: none;
}

/*Creates a text color change animation on the h1 tags for the home and contact page headers*/
@keyframes color-text{
    0%{color:#b5e1ff;}
    100%{color:#0a3f63;}
}

/*Calls the animation by it's name in a CSS selector so it can be applied to a specific HTML element*/
.animate-text{
    animation: color-text 4s;
}

/*BODY CONTENT*/

img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 
    0 6px 20px 0 rgba(0, 0, 0, 19);
}